h1 {
    color: black;
    position: relative;
    left: 50px;
    bottom: 40px;
  }
  button {
    position: relative;
    left: 500px;
    bottom: 40px;
  }
  li {
    list-style: none;
    text-transform:capitalize;
  }
  .container {
    display: block;
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px 20px 200px 40px;
  
    background: lightblue;
    max-width: 600px;
  }
  form {
    position: relative;
    left: 50px;
    top: 50px;
  }
  .workshop {
    text-decoration: none;
    font-size: 15px;
    position:relative;
    top:-130px;
    left:80px;
    
  }
  i {
    font-size: 30px;
  }
  .link{
     position:relative;
     left:350px;
  }
  .name{
    position:relative;
    left:355px;
    
  }
  .list{
    line-height: 1;
    position:relative;
    top:-5px;
  }
  .icons{
    position:relative;
    left:-40px;
  }
  .number{
    position:relative;
    top:-80px;
  }